@model myown.Models.Serpent

@{
    ViewData["Title"] = "Criar novo contato";
}

<h1> Criar novo contato </h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="PopularName" class="control-label"></label>
                <input asp-for="PopularName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="CientificName" class="control-label"></label>
                <input asp-for="CientificName" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label"></label>
                <select asp-for="Family" class="form-select">
                @foreach (Family fam in Enum.GetValues(typeof(Family)))
                {
                    <option value="@fam"> @fam </option>
                }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<hr>

<div>
    <a asp-action="Index"> Voltar </a>
</div>